<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
  <title>Travel Planner - Robin Edmunds 2019</title>
</head>

<body>
  <div class="body-container">
    <div class="grid-container">

      <nav>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Another</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Another</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Another</a></li>
        </ul>
      </nav>

      <header>Travel Planner</header>

      <main>

        <div class="travel-card">
          <div class="travel-card-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Upland_South_Africa_Savanna.jpg" alt="">
          </div>
          <div class="travel-card-right">
            <h2>My trip to: Pietermaritzburg, South Africa</h2>
            <h2>Departing: 01/04/2020</h2>
            <div class="travel-card-buttons">
              <button>Save Trip</button>
              <button>Remove Trip</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eligendi tempora sed. Reiciendis, voluptas totam error tenetur sunt consequuntur distinctio iure iusto sapiente corrupti eveniet perferendis nobis aliquam similique fugit?</p>
          </div>
        </div>
        
        <section class="add-trip-form">
          <h1>Add a new destination: -</h1>
          <form>
            <div class="form-inline">
              <label for="destination">
                Enter destination:
              </label>
              <input type="text" name="destination" id="destination" placeholder="London, UK">
            </div>
            <div class="form-inline">
              <label for="departure">
                Enter departure date:
              </label>
              <input type="text" name="departure" id="departure" placeholder="dd/mm/yyyy">
            </div>
            <button>Add</button>
          </form>
        </section>

      </main>

      <footer><p>Robin Edmunds - 2019</p></footer>

    </div>
  </div>
</body>

</html>
