// https://www.colourlovers.com/palette/1192985/Spring_Cleaning
$lightest: #fff;
$lighter: #F1EFE6;
$light: #CCCCCC;
$highlight-bright: #A6E500;
$highlight-dark: #5B9E00;
$text-colour: #333;

// pallette: https://www.colourlovers.com/palette/1188602/Retro_Bath
// $lightest: #D8D6AF;
// $lighter: #C3B787;
// $light: #AB925C;
// $highlight-bright: #DA902D;
// $highlight-dark: #983727;
// $text-colour: #333;
