%bottom-border {
  border-bottom: medium solid $text-colour;
}

%horizontal-borders {
  border: none;
  border-bottom: medium solid $text-colour;
  border-top: medium solid $text-colour;
}

%horizontal-borders-danger {
  border: none;
  border-bottom: thick solid $danger;
  border-top: thick solid $danger;
}
