@import "vars";
@import "extends";
@import url('https://fonts.googleapis.com/css?family=Pacifico|Sura:400,700&display=swap');

body {
  background-color: $light;
  color: $text-colour;
  font-family: $font-family-primary;
  font-size: $font-size-base;
}

header,
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.4em;
}

header {
  font-family: $font-family-fancy;
  font-size: 2.4em;
}

h1 {
  font-size: 1.6em;
  padding: $padding-base 0;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  padding: $padding-base 0;
  line-height: 1.4em;
}

button {
  padding: 0.4em 0.8em;
  font-size: 1.2em;
  font-family: inherit;
  background-color: $highlight-bright;
  color: inherit;
  @extend %horizontal-borders;
  &:hover {
    background-color: $highlight-dark;
  }
  &:active {
    background-color: $light;
  }
}

img {
  @extend %horizontal-borders;
}

input {
  @extend %horizontal-borders;
}

.borders-danger {
  @extend %horizontal-borders-danger;
}
