@import "vars";
@import "extends";

// BASE
.body-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1720px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

nav {
  background-color: $lighter;
  @extend %bottom-border;

  li {
    a {
      display: block;
      text-align: center;
      padding: $padding-base $padding-base;
      text-decoration: none;
      color: $text-colour;
      font-weight: 700;
      &:hover {
        background-color: $lightest;
      }
      &:active {
        background-color: $highlight-bright;
      }
    }
  }
}

header {
  display: block;
  padding: $padding-base*2 $padding-base;
  @extend %bottom-border;
}

main {
  display: block;
}

footer {
  display: block;
  padding: $padding-base/2 $padding-base;
  text-align: center;
}


// MOBILE
@media screen and (max-width: 480px) {
  nav {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}


// DESKTOP
@media screen and (min-width: 481px) {
  nav {
    ul {
      display: block;
    }

    li {
      float: right;
    }
  }
}
