@import "vars";
@import "extends";


// BASE
.travel-card {
  display: flex;
  background-color: $lighter;
  padding: $padding-base*2 $padding-base;
  @extend %bottom-border;
}

.travel-card-left {
  img {
    max-width: 100%;
  }
}

.travel-card-right {
  min-width: 50%;
  .travel-card-depart {
    opacity: 0.7;
    font-style: italic;
  }
}

.travel-card-weather {
  background-color: $light;
  text-align: center;
  margin: $padding-base/2 auto;
  width: 70%;
  padding: $padding-base/4;
  @extend %horizontal-borders;
}

.travel-card-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  button {
    margin: $padding-base $padding-base/2 $padding-base/2;
  }
}

.travel-card-expired {
  opacity: 0.4;
}


// MOBILE
@media screen and (max-width: 980px) {
  .travel-card {
    flex-direction: column;
  }

  .travel-card-left {
    max-width: 80%;
    margin: $padding-base auto;
  }

  .travel-card-right {
    margin: $padding-base;
  }

  .travel-card-weather {
    margin: $padding-base/2 auto;
    width: 90%;
  }
}


// DESKTOP
@media screen and (min-width: 981px) {
  .travel-card {
    flex-direction: row;
  }

  .travel-card-left {
    max-width: 40%;
    margin: 0 $padding-base;
  }

  .travel-card-right {
    margin: auto;
  }
}
