@import "colours";
@import "extends";

// BASE

.add-trip-form {
  display: block;
  background-color: $lightest;
  padding: 48px 24px;
  @extend %bottom-border;

  button {
    margin: 24px auto 0;
  }

  h1 {
    padding: 0 0 24px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }

  .form-inline {
    padding-bottom: 24px;
  
    label {
      font-size: 1.6em;
    }
  
    input {
      padding: 12px;
      font-family: inherit;
      font-size: 1.2em;
      background-color: $lighter;
      @extend %horizontal-borders;
    }
  }
}


// MOBILE
@media screen and (max-width: 1099px) {
  .form-inline {
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
    }
  }
}


// DESKTOP
@media screen and (min-width: 1100px) {
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    vertical-align: middle;

    label {
      margin: auto 0;
    }

    input {
      width: 50%;
      margin: 0 0 0 auto;
    }
  }
}
